<launch>
    <!-- Argument für die Liste der Roboter -->
    <arg name="velocity" default="1.0" />

    <node pkg="cooperative_handling" type="lissajous_3D_orientation_publisher.py" name="lissajous_3D_orientation_publisher" output="screen">
        <param name="velocity" value="$(arg velocity)"/>
    </node>
</launch>
