<launch>
    <!-- Argument für die Liste der Roboter -->
    <arg name="initial_pose" default="[]" />

    <node pkg="cooperative_handling" type="move_object_to_initial_pose.py" name="move_object_to_initial_pose" output="screen">
        <rosparam param="initial_pose" subst_value="True">$(arg initial_pose) </rosparam>
    </node>
</launch>